#aboutBody {
    display: flex;
    flex-flow: row wrap;  
    justify-content: center;
    align-items: center;
    gap: 40px 5%;
    margin: 50px 2%;  
}

#aboutBody #aboutCopy p {
    font-size: 16px;
    text-align: left;
}

#aboutPic {
    width: 624px;
    height: 416px;
}

#aboutCopy {
    width: 500px;
}

hr {
    margin: 50px 5%;
}

#aboutBottom {
    width: 600px;
    margin: 40px auto;
}

