#linktree {
    display: block;
    font-size: 20px;
    border: 2px solid black;
    width: 100px;
    padding: 10px;
    margin: 20px auto;
    text-decoration: none;
    color: black;
    border-radius: 30px;
}