#splashContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: -20px;
}

#linktree {
    font-size: 20px;
    border: 2px solid black;
    width: 100px;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    transform: rotate(-90deg);
}

