#showsBox {
    padding: 20px;
}

hr {
    margin: 20px 5%;
}

#styledLine {
    border: 5px double black;
}

.lilLine {
    margin: 0 40%;
}

.showsMain p {
    font-size: 20px;
}

#subtitle {
    font-size: 24px;
}

.oneShow {
    /* border: 2px solid black; */
    margin: 10px auto;
    padding: 20px 0;
}

#pastShows {
    margin-top: 60px;
}