hr {
    width: 300px;
    margin: 40px auto;
}

p {
    font-size: 16px;
}

#syncBody {
    margin: 50px 20px;
}


#syncGrid {
    display: grid;
    grid-template-columns: 45% 2% 45%;
    column-gap: 4%;
    margin: 60px auto;
}

#syncGridSpacer {
    width: 0;
    border: .5px solid black;
}

#passengersPoster {
    height: 600px;
    margin-bottom: 40px;
}